{% load staticfiles %}<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <meta content="text/html">
	<meta name="description" content="">
	<meta name="author" content="Anton Ohontsev">
    <title>{% block title %}{% endblock %}</title>

    {% block css %}
    {% endblock %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
</head>
<body>
    {% block layout %}{% endblock %}

    {% block js %}
        <script type="text/javascript" src="{% static 'landingpage/libs/jquery-1.11.1.js' %}"></script>
        <script type="text/javascript" src="{% static 'landingpage/libs/jquery-1.11.1.min.js' %}"></script>
    {% endblock %}
    {% include 'landingpage/blocks/metrika.html' %}
</body>
</html>